name: Auto approve sync files
on:
  workflow_call:
    inputs:
      runs-on:
        description: "Runner to use"
        required: false
        type: string
        default: "self-hosted"
    secrets:
      sync-token:
        description: "Token used to approve & merge"
        required: true

jobs:
  auto-approve-synced-files:
    name: Auto approve synced files
    if: contains(github.event.pull_request.title, 'Synced file(s)') && github.actor == 'couchoud-t' && github.event.pull_request.base.ref == github.event.repository.default_branch
    runs-on: ["ubuntu-latest", "${{ inputs.runs-on }}"]
    steps:
      - name: Approve Pull Request
        uses: hmarr/auto-approve-action@v4.0.0
        with:
          github-token: "${{ secrets.sync-token }}"
      - name: Merge Pull Request
        uses: pascalgn/automerge-action@v0.16.4
        env:
          GITHUB_TOKEN: "${{ secrets.sync-token }}"
          PULL_REQUEST: "${{ github.event.number }}"
          MERGE_LABELS: sync
          MERGE_METHOD: squash
          MERGE_ERROR_FAIL: true
          MERGE_READY_STATE: "clean,has_hooks,unknown,unstable,blocked"
