name: Gradle Minecraft publish

on:
  workflow_call:
    inputs:
      java-version:
        description: "JDK version to use"
        required: true
        type: string
      java-distribution:
        description: "JDK distribution to use"
        required: false
        type: string
        default: "temurin"
      runs-on:
        description: "Runner to use"
        required: false
        type: string
        default: "ubuntu-latest"
      environment:
        description: "Environment to use"
        required: false
        type: string
    secrets:
      curseforge-token:
        required: true

jobs:
  publish-curseforge:
    name: Gradle - Publish - Curseforge
    runs-on: [ "${{ inputs.runs-on }}" ]
    environment: ${{ inputs.environment }}
    concurrency: 
      group: publish-curseforge
      cancel-in-progress: false
    steps:
      - name: Checkout source
        uses: actions/checkout@v6.0.0
      - name: Set up JDK
        uses: actions/setup-java@v5.0.0
        with:
          distribution: ${{ inputs.java-distribution }}
          java-version: ${{ inputs.java-version }}

      - name: Get release
        id: get_release
        uses: bruceadams/get-release@v1.3.2
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.0
      - name: Publish
        run: |
          ./gradlew \
          build \
          curseforge \
          -PcurseforgeApiKey=${{ secrets.curseforge-token }} \
          -PmodrinthToken=${{ secrets.modrinth-token }} \
          -Pversion=${{ steps.get_release.outputs.name }} \
          -Pchangelog="[Changelog on GitHub](${{ steps.get_release.outputs.html_url }})
          
          ${{ steps.get_release.outputs.body }}"
