name: Update Gradle Wrapper

on:
  workflow_call:
    inputs:
      runs-on:
        description: "Runner to use"
        required: false
        type: string
        default: "ubuntu-latest"
      reviewers:
        description: "Reviewers to add on created PRs"
        required: false
        type: string
      labels:
        description: "Labels to add on created PRs"
        required: false
        type: string
      environment:
        description: "Environment to use"
        required: false
        type: string
    secrets:
      github-token:
        required: false

permissions:
  contents: write
  pull-requests: write

jobs:
  update-gradle-wrapper:
    name: "Update Gradle Wrapper"
    runs-on: [ "${{ inputs.runs-on }}" ]
    environment: ${{ inputs.environment }}
    concurrency:
      group: gradle-wrapper-update
      cancel-in-progress: true
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6.0.2
      - name: Update Gradle Wrapper
        uses: gradle-update/update-gradle-wrapper-action@v2.1.0
        with:
          repo-token: "${{ secrets.github-token }}"
          reviewers: "${{ inputs.reviewers }}"
          labels: "${{ inputs.labels }}"
