name: Gradle Minecraft build

on:
  workflow_call:
    inputs:
      java-version:
        description: "JDK version to use"
        required: true
        type: string
      java-distribution:
        description: "JDK distribution to use"
        required: false
        type: string
        default: "temurin"
      runs-on:
        description: "Runner to use"
        required: false
        type: string
        default: "ubuntu-latest"

permissions:
  contents: write

jobs:
  build:
    name: Gradle - Build
    runs-on: ["ubuntu-latest", "${{ inputs.runs-on }}"]
    steps:
      - name: Checkout source
        uses: actions/checkout@v4.2.2
      - name: Set up JDK
        uses: actions/setup-java@v4.7.0
        with:
          distribution: ${{ inputs.java-distribution }}
          java-version: ${{ inputs.java-version }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4.2.2
      - name: Build
        run: |
          ./gradlew \
          build

      - name: Upload mod file
        uses: actions/upload-artifact@v4.6.0
        with:
          name: mod-file
          path: |
            build/libs/*.jar
          if-no-files-found: error
          retention-days: 7
