name: Gradle build & test

on:
  workflow_call:
    inputs:
      java-version:
        description: "JDK version to use"
        required: true
        type: string
      java-distribution:
        description: "JDK distribution to use"
        required: false
        type: string
        default: "temurin"
      artifact-name:
        description: "Name of artifact to get"
        required: false
        type: string
        default: ""
      runs-on:
        description: "Runner to use"
        required: false
        type: string
        default: "self-hosted"
      generate-jacoco:
        description: "Whether to generate JaCoCo report"
        required: false
        type: boolean
        default: false
      send-codecov:
        description: "Whether to send coverage report on Codecov"
        required: false
        type: boolean
        default: false
    secrets:
      codecov-token:
        description: "Token to upload reports on Codecov"
        required: false

permissions:
  contents: write
  checks: write

jobs:
  dependency-submission:
    name: Dependencies submission
    runs-on: [ "ubuntu-latest", "${{ inputs.runs-on }}" ]
    steps:
      - name: Checkout source
        uses: actions/checkout@v4.2.2
      - name: Set up JDK
        uses: actions/setup-java@v4.5.0
        with:
          distribution: ${{ inputs.java-distribution }}
          java-version: ${{ inputs.java-version }}
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v4.2.1
        continue-on-error: true

  build:
    name: Gradle - Build
    runs-on: [ "ubuntu-latest", "${{ inputs.runs-on }}" ]
    steps:
      - name: Checkout source
        uses: actions/checkout@v4.2.2
      - name: Set up JDK
        uses: actions/setup-java@v4.5.0
        with:
          distribution: ${{ inputs.java-distribution }}
          java-version: ${{ inputs.java-version }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4.2.1

      - name: Build project
        run: |
          ./gradlew \
          assemble \
          --scan

      - name: Upload artifacts
        id: gradle-build
        uses: actions/upload-artifact@v4.4.3
        if: "${{ inputs.artifact-name != '' }}"
        with:
          name: ${{ inputs.artifact-name }}
          path: build/libs/*.jar
          retention-days: 7
          if-no-files-found: warn

  tests:
    name: Gradle - Tests
    runs-on: [ "ubuntu-latest", "${{ inputs.runs-on }}" ]
    steps:
      - name: Checkout source
        uses: actions/checkout@v4.2.2
      - name: Set up JDK
        uses: actions/setup-java@v4.5.0
        with:
          distribution: ${{ inputs.java-distribution }}
          java-version: ${{ inputs.java-version }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4.2.1

      - name: Build project
        run: |
          ./gradlew \
          test \
          --scan

      - name: Generate JaCoCo report
        if: ${{ inputs.generate-jacoco }}
        run: |
          ./gradlew \
          jacocoTestReport

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: always()
        with:
          report_paths: 'build/test-results/test/*.xml'

      - name: Publish coverage on CodeCov
        uses: codecov/codecov-action@v5.0.7
        if: ${{ inputs.generate-jacoco && inputs.send-codecov }}
        with:
          token: ${{ secrets.codecov-token }}
          files: build/test-results/test/*.xml
          flags: unittests
          name: codecov-github-actions
      # https://github.com/codecov/test-results-action/issues/72
      - name: Publish tests on CodeCov
        uses: codecov/test-results-action@v1.0.1
        if: ${{ !always() }} #${{ inputs.generate-jacoco && inputs.send-codecov }}
        with:
          token: ${{ secrets.codecov-token }}
          files: build/reports/jacoco/test/jacocoTestReport.xml
          flags: unittests
          name: codecov-github-actions

      - name: Upload JUnit reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: junit-test-results
          path: |
            build/test-results/test/*.xml
            build/reports/tests/test
          if-no-files-found: error
          retention-days: 7
      - name: Upload JaCoCo reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: jacoco-test-results
          path: |
            build/reports/jacoco/test/*.xml
            build/reports/jacoco
          if-no-files-found: error
          retention-days: 7

