name: PowerToysRun Build

on:
  workflow_call:
    inputs:
      dotnet-version:
        description: ".NET version to use"
        required: true
        type: string
      plugin-name:
        description: "Plugin name"
        required: true
        type: string
      platform:
        description: "Platform to build"
        required: true
        type: string
      release-type:
        description: "Type of release to make"
        required: false
        type: string
        default: "Release"
      solution-path:
        description: "Path to the solution .sln file"
        required: true
        type: string
      project-path:
        description: "Path to the project folder, containing the .csproj file"
        required: true
        type: string
      runs-on:
        description: "Runner to use"
        required: false
        type: string
        default: "windows-latest"
      environment:
        description: "Environment to use"
        required: false
        type: string

permissions:
  contents: write

jobs:
  build:
    name: Build (${{ inputs.platform }})
    runs-on: [ "${{ inputs.runs-on }}" ]
    environment: ${{ inputs.environment }}
    concurrency: 
      group: net-build-${{ github.ref }}-${{ inputs.platform }}
      cancel-in-progress: true
    steps:
      - name: Checkout source
        uses: actions/checkout@v6.0.0
      - name: Setup .NET
        uses: actions/setup-dotnet@v5.0.0
        with:
          dotnet-version: ${{ inputs.dotnet-version }}
      - name: Build
        run: dotnet build "${{ inputs.solution-path }}" --configuration "${{ inputs.release-type }}" /p:Platform=${{ inputs.platform }} /p:EnableWindowsTargeting=true
      - name: Prepare artifact
        run: |
          Remove-Item -Path "${{ inputs.project-path }}\bin\*" -Recurse -Include "*.xml", "*.pdb", "PowerToys.*", "Wox.*"
          Rename-Item -Path "${{ inputs.project-path }}\bin\${{ inputs.platform }}\Release" -NewName "${{ inputs.plugin-name }}"
      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ inputs.plugin-name }}-${{ inputs.platform }}
          path: "${{ inputs.project-path }}/bin/${{ inputs.platform }}/${{ inputs.plugin-name }}"
