name: Python build

on:
  workflow_call:
    inputs:
      source-folder:
        description: "Folder where sources are located"
        required: true
        type: string
      runs-on:
        description: "Runner to use"
        required: false
        type: string
        default: "ubuntu-latest"

jobs:
  check:
    name: Python - Check
    runs-on: ["ubuntu-latest", "${{ inputs.runs-on }}"]
    steps:
      - name: Checkout source
        uses: actions/checkout@v4.2.0
      - run: cd "${{ inputs.source-folder }}"
      - name: Python Syntax Checker
        uses: cclauss/Find-Python-syntax-errors-action@v0.2.0
