name: Rust build

on:
  workflow_call:
    inputs:
      target:
        description: "Release target name"
        required: false
        type: string
        default: "x86_64-unknown-linux-musl"
      extra-files:
        description: "Extra files"
        required: false
        type: string
        default: ""
      upload-mode:
        description: "Upload mode"
        required: false
        type: string
        default: "none"
      toolchain-version:
        description: "Toolchain version"
        required: false
        type: string
        default: "stable"
      runs-on:
        description: "Runner to use"
        required: false
        type: string
        default: "ubuntu-latest"
      environment:
        description: "Environment to use"
        required: false
        type: string

permissions:
  contents: write

jobs:
  build:
    name: Rust build
    runs-on: [ "${{ inputs.runs-on }}" ]
    environment: ${{ inputs.environment }}
    concurrency:
      group: rust-build-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout source
        uses: actions/checkout@v6.0.0
      - name: Compile
        id: compile
        uses: rust-build/rust-build.action@v1.4.5
        with:
          TOOLCHAIN_VERSION: stable
          RUSTTARGET: "${{ inputs.target }}"
          EXTRA_FILES: "${{ inputs.extra-files }}"
          UPLOAD_MODE: "${{ inputs.upload-mode }}"
      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: "${{ inputs.target }}"
          path: |
            ${{ steps.compile.outputs.BUILT_ARCHIVE }}
            ${{ steps.compile.outputs.BUILT_CHECKSUM }}
