name: Zip Publish

on:
  workflow_call:
    inputs:
      filename:
        description: "Zip name"
        required: true
        type: string
      type:
        description: "Zip type"
        required: false
        type: string
        default: "zip"
      directory:
        description: "Directory to run the zipping in"
        required: false
        type: string
        default: '.'
      path:
        description: "Path to zip, relative to directory"
        required: true
        type: string
      exclusions:
        description: "Paths to exclude"
        required: false
        type: string
        default: ""
      runs-on:
        description: "Runner to use"
        required: false
        type: string
        default: "ubuntu-latest"
      environment:
        description: "Environment to use"
        required: false
        type: string

permissions:
  contents: write

jobs:
  publish:
    name: Add zip to release
    runs-on: [ "${{ inputs.runs-on }}" ]
    environment: ${{ inputs.environment }}
    concurrency:
      group: zip-publish-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout source
        uses: actions/checkout@v6.0.0
      - name: Create zip
        uses: thedoctor0/zip-release@0.7.6
        with:
          type: ${{ inputs.type }}
          filename: ${{ inputs.filename }}
          directory: ${{ inputs.directory }}
          path: ${{ inputs.path }}
          exclusions: ${{ inputs.exclusions }}
      - name: Add file to release
        uses: softprops/action-gh-release@v2.4.2
        with:
          fail_on_unmatched_files: true
          generate_release_notes: true
          files: |
            ${{ inputs.directory }}/${{ inputs.filename }}
